.body {
    margin: 100px 100px 0 100px;
}

.banner {
    display: flex;
    justify-content: center;
    &__image {
        height: 223px;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        filter: brightness(0.7);
    }
}

.divCollapse {
    width: 80%;
    margin: auto;
}

@media (max-width: 768px) {
    .body {
        margin: 0 20px 0 20px;
    }
    .divCollapse {
        width: 100%;
    }
    .banner {
        margin-bottom: 19px;
    }
}
